<object data="BlueLotus.pdf" style="width:50%;height:95%;float:left">
	<a href="BlueLotus.pdf">PDF laden</a>
</object>
<object data="LaStrada.pdf" style="width:50%;height:95%;float:left">
	<a href="LaStrada.pdf">PDF laden</a>
</object>
<a href="https://git.rwth-aachen.de/itpfl-getraenke/launchflyer/" style="float:left">Sourcecode</a>
<a href="https://www.itpfl-getraenke.ml/getraenke" style="float:right">Getraenke-Liste neue URL</a>
